node_modules

Passo a passo de criação de token e autenticação.txt
Passo a Passo para upload de imagens e salvar no backend.txt
Passo_a_passo_de_criacao_de_Back_End_com_NodeJS.txt
Instalar Cors para permitir acesso de origens diferentes (frontend) acessando o banco de dados e os métodos das classes criadas no controller.txt